html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

#root,
body {
  background-image: linear-gradient(120deg, #5faceb, #7c48dd);
  color: #fff;
  font-family: "Lato", sans-serif;
  min-height: 100vh;
}

body {
  margin: 0;
}

#root,
.todo-list-app {
  display: flex;
  flex-flow: column nowrap;
}

#root {
  align-items: center;
  width: 100%;
}

/* Todo list app styles  */
.todo-list-app {
  padding-top: 32px;
  width: 100%;
  max-width: 480px;
}

.todo-list-app h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
/** Todo form */

form {
  min-width: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input, form button{
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}

form button {
  color: #9a74e0; 
  background: white;
  cursor: pointer;
  transition: all 0.3 ease;
}

form button:hover{
  background: #9a74e0;
  color: white;
}

/* Todo list styles */
.todo-list ul {
  padding: 0;
  margin: 0;
}

.todo-list li {
  list-style-type: none;
}

/* Todo item styles */
.todo-item {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 8px;
}

.todo-form + .todo-list ul .todo-item {
  border-top: 0;
}

.todo-item-input-wrapper {
  flex-grow: 1;
  padding: 0 16px;
}

.todo-item input {
  width: 100%;
  border: 0;
  border-bottom: 1px solid transparent;
  transition: .25s border-bottom ease-in-out;
  min-height: 2rem;
}

.todo-item input:focus {
  outline: 0;
  border-bottom: 1px solid #3498db;
}

.todo-item .todo-input-error {
  border-bottom: 1px solid #e74c3c;
}

.todo-item span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #ececec;
  transition: .25s all ease-in-out;
}



 .item-remove {
    color: white;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    background: crimson;
}

 .item-remove:hover {
  color: crimson;
  background: white;
}

.counter button {
  line-height: 1;
  vertical-align: middle;
  border-radius: 3px;
  color: #fefefe;
  border: 3px solid;
  background: #fefefe;
  
  transition: transform 60ms ease-out;
  cursor: pointer;
}

.counter {
  font-size: 1.5rem;
}

.grid{
  display: grid;
  grid-template-columns: auto auto auto;
}

.grid-item {
  padding: 10px;
  font-size: 25px;
  margin-top: 20px ;
}

#increment,
#decrement {
  width: 50px;
  height: 50px;
  font-size: 1.5rem;
}

#increment {
  color: #5cb85c;
  border-color: lighten(#5cb85c, 7%);
}

#decrement {
  color: #E67373;
  border-color: lighten(#E67373, 7%);
}